body {
  position: relative;
  unicode-bidi: isolate;
  display: block;
  min-width: 800px;
  font-family: "Rubik", serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/156/234/original/AI_Picture_A_%28morning_light_theme%29.jpg?1738345410/");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  z-index: -1;
}
.container {
  position: relative;
  background: linear-gradient(
    180deg,
    rgb(152, 192, 175) 0.5%,
    rgb(254, 211, 180) 100%
  );
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  margin-top: 40px;
  padding: 20px;
  max-width: 900px;
  min-width: 900px;
  color: rgb(46, 75, 86);
  padding-left: 0px;
}
header {
  max-height: 250px;
  transform: translateY(-90px);
}

footer {
  color: rgb(50, 86, 90);
  text-align: center;
  font-weight: lighter;
  position: relative;
  z-index: 10;
}
a {
  color: rgb(126, 147, 148);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: rgb(144, 169, 182);
}
.search-box {
  text-align: left;
  font-size: 30px;
  background-color: rgb(117, 164, 160);
  border: none;
  margin-right: 20px;
  padding: 20px 30px 20px 20px;
  border-radius: 7px;
  box-shadow: 0 5px 30px rgba(46, 75, 86, 0.3);
  letter-spacing: 4px;
  color: rgb(219, 230, 240);
}
.search-box::placeholder {
  color: rgb(219, 230, 240);
}
.search-button {
  font-size: 30px;
  text-align: center;
  color: rgb(46, 75, 86);
  padding: 20px 30px;
  border: none;
  border-radius: 7px;
  background-color: rgb(225, 236, 246);
  box-shadow: 0 5px 30px rgba(46, 75, 86, 0.3);
  font-weight: bold;
  transition: all 200ms ease-in-out;
}
.search-button:hover {
  color: rgba(46, 75, 86, 0.7);
}
.forms {
  max-width: 600px;
  display: block;
  transform: translate(350px, -250px);
}

.headings {
  max-height: fit-content;
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
  transform: translate(220px, -370px);
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 30px;
  transform: translate(-15px, 20px);
}
ul {
  list-style: none;
  transform: translate(185px, -430px);
  color: rgb(91, 105, 106);
  font-size: 20px;
  max-width: 100px;
  font-weight: lighter;
}
.container-2 {
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  background-color: rgb(219, 230, 240);
  width: fit-content;
  max-width: 390px;
  max-height: 59px;
  transform: translate(360px, -530px);
  padding: 12px 15px 12px 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(46, 75, 86, 0.3);
}
h3 {
  margin: 0;
  font-size: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
h4 {
  margin: 0;
  font-size: 20px;
  text-align: right;
  transform: translateY(28px);
  font-weight: lighter;
  color: rgb(91, 105, 106);
}
#lottie-container {
  z-index: 10;
  display: block;
  transform: translate(-140px, 20px);
}
.headings-and-list {
  transform: translateX(-10px);
}

main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 15px;
  margin-left: 20px;
}

.weekly-forecast {
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  background-color: #ffffff17;
  border-radius: 10px;

  box-shadow: 0 5px 30px rgba(46, 75, 86, 0.1);
}

.weekly-forecast-day {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: rgb(91, 105, 106);
}
.weekly-forecast-icon {
  width: 100px;
  height: 60px;
  text-align: center;
  transform: scale(90%) translateY(-22px);
}
.weekly-forecast-temperatures {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 17px;
  font-weight: lighter;
}
.low-temp {
  padding-left: 7px;
  color: #2d4b567e;
}
.high-temp {
  color: rgb(91, 105, 106);
}
#forecast {
  padding: 0px;
}
